.about-us {
  background-color: $lightgray;
  padding-top: 30px;
  padding-bottom: 30px;

  h1 {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: $blue;
    margin: 0;
    margin-left: 15px;
    margin-bottom: 20px;
    text-align: center;
  }
  h2 {
    font-size: 21px;
  }
  &__staff {
    h2 {
      font-size: 24px;
      line-height: 26px;
      text-transform: uppercase;
      color: $blue;
      margin: 0;
      margin-left: 15px;
      margin-bottom: 20px;
      padding-top: 15px;
      text-align: center;
    }
  }
  &__staff-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__worker {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $blue;
    margin: 20px;
    position: relative;

      div {
        display: none;
        width: 235px;
        position: absolute;
        top: 50px;
        left: 40px;
        color: $blue;
        font-weight: 900;
        line-height: 1.5;
          ul, li {
            margin: 0;
            padding: 0;
          }
      }
      span {
        color: $gray;
        text-align: center;
        padding: 5px;
      }
      span:last-child {
        color: $blue;
        font-size: 20px;
      }
  }
  &__worker:hover {
    img {
      opacity: 0.3;
      -webkit-filter: blur(5px);
    }
    div {
      display: block;
    }
  }
}
.about-us__wrapper {
  @include container;
}