.page-header {
}
.main-nav {
  background-color: $blue;
}
.main-nav__wrapper {
  @include container;
  @include side-padding;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }
    li {
      margin: 8px;
      padding: 0;
      list-style: none;
        ul {
          display: none;
        }
    }
    a {
      color: $white;
      text-decoration: none;
    }
    a:hover {
      color: $orange;
    }
}
.main-nav__open {
  position: absolute;
  right: 20%;
  top: 10px;
}

.page-header__wrapper {
  position: relative;
  @include container;
  display: flex;
  flex-direction: column;
    div:first-child {
      margin: 0 auto;
    }
    div:last-child {
      margin: 0 auto;
      // margin-top: 30px;
    }
    .page-header__contact {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
    span {
      display: block;
      color: #3c81b9;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .page-header__phone {
      margin: 0 auto;
      color: black;
      font-size: 24px;
      text-decoration: none;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .page-header__social {
      margin: 0 auto;
      font-size: 0;
      // margin-top: 20px;
      margin-bottom: 20px;
        a {
          padding-right: 10px;
        }
    }
    .page-header__callback-btn {
      padding: 10px 30px;
      background-color: $orange;
      color: $white;
      border-radius: 50px;
      text-decoration: none;
    }
    .page-header__callback-btn:hover {
      background-color: $blue;
    }

}

@media #{$desktop-widths} {
  .main-nav__wrapper {
    ul {
      flex-direction: row;
      justify-content: center;
    }
  }
  .page-header__wrapper {
    flex-direction: row;
  }
  .page-header__logo {
    img {
      margin-top: 25px;
    }
  }
  .page-header__contact {
    padding-top: 20px;
  }
  .page-header__callback {
    padding-top: 50px;
  }
  .main-nav__open {
    display: none;
  }
}
