.tour-search {
  min-height: 450px;
  background-image: url("../img/fon.jpg");
  background-size: cover;
    h2 {
      color: white;
      text-transform: uppercase;
      font-size: 45px;
      font-weight: 300;
      text-align: center;
      padding-top: 40px;
    }
}